@charset "UTF-8";
@font-face {
    font-family: "idroid.otf";
    src: url("/fontes/idroid.otf") format("opentype");

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #c5ebd6 ;

}
header {
    background-image: linear-gradient(to top, #133a04, #87e496);
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 0px 0px 30px 30px;
    text-align: center;
}

header p {
    margin-bottom: 0px;
}

main {
    background-color: white;
    margin: 20px auto;
    padding: 14px 25px 25px 25px;
    color: black;
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;

}

main img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1#titulo {
    font-family: 'idroid.otf';
    font-size: 2.5em;
    text-align: center;
    margin: 100;
    color: whitesmoke;
}
p#pp {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 20px;
    color: whitesmoke;
}

header > nav > a {
    text-decoration: none;
    margin: 50px;
    color: white;
    transition-duration: 0.5s;
    text-align: center;
}

header > nav > a:hover {
    padding: 10px;
    border-radius: 10px;
    background-color: #69bd77;
    text-align: center;
}

iframe {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

aside {
    background-image: linear-gradient(to right, #ffffff, rgb(255, 255, 255));
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
    margin: 40px;
}

aside > h3 {
    background-image: linear-gradient(to right, #87e496, #40c256);
    color: white;
    padding: 10px;
    margin: 0px -10px 10px -10px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}
aside > h3:hover {
    background-image: linear-gradient(to right, #40c256, #87e496);
    color: white;
    padding: 10px;
    margin: 0px -10px 10px -10px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    transition-duration: 0.5s;
    font-size: 1.2em;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    background-image: linear-gradient(to right, #87e496, #a2f0c9);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

li#versões {
    text-decoration: none;
}

h3#textoh3 {
    width: 100px;
    text-align: left;
    background-color: #40c256; 
    padding: 5px;
    border-radius: 20px;
    margin: 0px 0px 30px 0px;
}


h2 {
    font-family: 'idroid.otf';
    background-image: linear-gradient(to right, #87e496, white);
    margin: 20px 0px 20px 0px;
    padding: 10px;
    border-radius: 20px;
}

.textobase {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.links {
    color: green;
    text-decoration: none ;
    font-weight: bold;
}



.img-resp {
    width: 100%;
    margin: 0 auto;
}

main img.bugdroid{
    width: 40%;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.171);
}

